<div class="mission-details-container bg-[#161A30]">
  <h1
    class="text-4xl font-bold text-white py-5 justify-center items-center text-center"
  >
    SpaceX Mission Launch List
  </h1>

  <div class="container mx-auto">
    <div
      *ngFor="let mission of missions"
      class="bg-lightblue mb-10 p-4 rounded-lg"
      (click)="onSelect(mission)"
    >
      <div class="mission-details flex items-center">
        <img
          [src]="mission.links.mission_patch_small"
          alt="{{ mission.mission_name }}"
          class="w-20 h-auto mr-4"
        />
        <div>
          <h2 class="text-lg font-bold text-white">
            {{ mission.mission_name }}
          </h2>
          <p class="text-white">{{ mission.launch_year }}</p>
        </div>
      </div>
      <div>
        <p class="mt-2 text-white">{{ mission.details }}</p>
      </div>
      <hr />
    </div>
  </div>
</div>
