.mission-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e0f4ff; /* Light blue background */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
  color: #2b3499; /* Pink color for text */
  font-family: "Arial", sans-serif; /* Modern font */
}

.mission-details img {
  margin-right: 1rem;
  border-radius: 50%; /* Rounded image */
}

h2 {
  color: #2b3499; /* Pink color for headings */
  font-weight: bold; /* Bold font for headings */
  font-size: 1.2rem; /* Larger font size for headings */
}

.card {
  background-color: #ffeed9; /* Light yellow background for card */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
  color: #1e1e3f; /* Navy blue color for text */
  font-family: "Arial", sans-serif; /* Modern font */
}
